In [2]:
!ls TODO

app-o.py  create_db.py	init_database.py  products.db  templates
app.py	  database.py	__init__.py	  static

In [2]:
import sqlite3
conn = sqlite3.connect("TODO/products.db")

OperationalError: unable to open database file

In [1]:
import sqlite3
conn = sqlite3.connect("TODO/products.db")
conn.text_factory = str
c = conn.cursor()
rows = c.execute("SELECT ROWID, * from products" )
for row in rows:
    print(row)

OperationalError: unable to open database file

In [3]:
import sqlite3
conn = sqlite3.connect("code.db")
conn.text_factory = str
c = conn.cursor()
rows = c.execute("SELECT ROWID, * from snippets" )
for row in rows:
    print(row)

(1, 1, 'This is javascript', 'THIS is Code', 'javascript,test entry, last test,')
(2, 2, 'wwwwwwwwwwwwwQQQQQQQQQ', 'here is new code', 'code, new , this')
(3, 3, 'WWWWWWWWWWWWWWWW', 'xxxxxxx', 'xxxxxxxxxxxxxxxxxxxxxxxxxxx')
(4, 4, 'sssssssssssssss', 'dddddddddddddddd', 'ffffffffffffffffffff')
(5, 5, 'ZZZZZZZZZZZZ', 'XXXXXXXXXXXXXX', 'CCCCCCCCCCCCCCCC')
(6, 6, 'AAAAAAAAAAAAAAAAA', 'SSSSSSSSSSSSSSSSSSSSS', 'DDDDDDDDDDDDDDDDDDDDDDDDD')
(7, 7, 'rrrrrrrrrrrrr', 'rrrrssssssssssssssssss', 'sssssssssssssssssssss')
(8, 8, 'aaaaaaaaaaaaaaa', 'sssssssssssssssssssssss', 'ddddddddddddddddddddddd')
(9, 9, 'XXXXXXXXXXXXX', 'ZZZZZZZZZZZZZZZZZZZZZZ', 'SSSSSSSSSSSSSSSSSSSSSS')
(10, 10, 'QQQQQQQQQQQQQQ', 'DDDDDDDDDDDDDD', 'DDDDDDDDDDDDDDDDDDDDDDDDDD')
(11, 11, 'jack', 'AAAAAAAAAAAAAAAAAAAA', 'northrup')

In [ ]:
import sqlite3

    conn.text_factory = str
    c = conn.cursor()
    c.execute("CREATE VIRTUAL TABLE PROJECT using FTS4 (input)")
    conn.commit()
    text = "Database Created"
    return text